<form action="server/auth/signup.php" method="post" class="form-group" name="SignUpForm">
    <label>First Name and Last name:</label>
    <div class="input-group form-group">
        <div ng-class="(SignUpForm.FirstName.$dirty && SignUpForm.FirstName.$invalid) ? 'has-warning' : 'has-success'" class="form-group has-feedback">
            <input data-ng-model="FirstName" data-ng-minlength="2" data-ng-maxlength="32" name="FirstName" type="text" class="form-control" placeholder="First Name" required/>
            <span ng-class="(SignUpForm.FirstName.$dirty && SignUpForm.FirstName.$invalid) ? 'glyphicon-warning-sign' : 'glyphicon-ok'" class="glyphicon form-control-feedback"></span>
        </div>
        <span class="input-group-addon">-</span>
        <div ng-class="(SignUpForm.LastName.$dirty && SignUpForm.LastName.$invalid) ? 'has-warning' : 'has-success'" class="form-group has-feedback">
            <input data-ng-model="LastName" data-ng-minlength="2" data-ng-maxlength="32" name="LastName" type="text" class="form-control" placeholder="Last Name" required>
            <span ng-class="(SignUpForm.LastName.$dirty && SignUpForm.LastName.$invalid) ? 'glyphicon-warning-sign' : 'glyphicon-ok'" class="glyphicon form-control-feedback"></span>
        </div>
    </div>
    <label>User Name:</label>
    <div ng-class="(SignUpForm.UserName.$dirty && SignUpForm.UserName.$invalid) ? 'has-warning' : 'has-success'" class="form-group has-feedback">
        <input data-ng-model="UserName" name="UserName" type="text" class="form-control" placeholder="User Name" required data-ng-minlength="3" data-ng-maxlength="32" pattern="^\w+$">
        <span ng-class="(SignUpForm.UserName.$dirty && SignUpForm.UserName.$invalid) ? 'glyphicon-warning-sign' : 'glyphicon-ok'" class="glyphicon form-control-feedback"></span>
    </div>
    <label>E-mail:</label>
    <div ng-class="(SignUpForm.Email.$dirty && SignUpForm.Email.$invalid) ? 'has-warning' : 'has-success'" class="form-group has-feedback">
        <input data-ng-model="Email" name="Email" type="email" class="form-control" placeholder="Email" data-ng-minlength="5" data-ng-maxlength="255" required>
        <span ng-class="(SignUpForm.Email.$dirty && SignUpForm.Email.$invalid) ? 'glyphicon-warning-sign' : 'glyphicon-ok'" class="glyphicon form-control-feedback"></span>
    </div>
    <label>Password:</label>
    <div ng-class="(SignUpForm.Password.$dirty && SignUpForm.Password.$invalid) ? 'has-warning' : 'has-success'" class="form-group has-feedback">
        <input data-ng-model="Password" data-ng-minlength="8" data-ng-maxlength="32" name="Password" type="password" class="form-control" placeholder="Password" required>
        <span ng-class="(SignUpForm.Password.$dirty && SignUpForm.Password.$invalid) ? 'glyphicon-warning-sign' : 'glyphicon-ok'" class="glyphicon form-control-feedback"></span>
    </div>
    <label>Confirm Password:</label>
    <div ng-class="(SignUpForm.Password.$dirty && SignUpForm.ConfirmPassword.$dirty && (Password !== ConfirmPassword)) ? 'has-warning' : 'has-success'" class="form-group has-feedback">
        <input data-ng-model="ConfirmPassword" type="password" name="ConfirmPassword" class="form-control" placeholder="Confirm Password" required>
        <span ng-class="(SignUpForm.Password.$dirty && SignUpForm.ConfirmPassword.$dirty && (Password !== ConfirmPassword)) ? 'glyphicon-warning-sign' : 'glyphicon-ok'" class="glyphicon form-control-feedback"></span>
    </div>
    <br>
    <input ng-class="(SignUpForm.$valid && (Password === ConfirmPassword)) ? 'btn-success' : 'disabled'" type="submit" class="btn btn-block btn-default">
</form>
